src/main/resources/mathws.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://math.ws.divanov" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://math.ws.divanov" targetNamespace="http://math.ws.divanov">
    <wsdl:types>
        <xs:schema xmlns:ns="http://math.ws.divanov" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://math.ws.divanov">
            <xs:element name="createGetSolutionQuadraticEducationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="A" type="xs:double"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="B" type="xs:double"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="C" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Formula" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="D" type="xs:double"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="X1" type="xs:double"/>
                        <xs:element minOccurs="0" name="X2" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuadraticEducationFaultInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Formula" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Discriminant" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createGetSolutionQuadraticEducationRequest">
        <wsdl:part element="tns:createGetSolutionQuadraticEducationRequest" name="createGetSolutionQuadraticEducationRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createResponse">
        <wsdl:part element="tns:createResponse" name="createResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MathServiceEndpoint">
        <wsdl:operation name="createGetSolutionQuadraticEducation">
            <wsdl:input message="tns:createGetSolutionQuadraticEducationRequest" name="createGetSolutionQuadraticEducationRequest"> </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:output message="tns:createResponse" name="createResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MathServiceEndpointSoap11" type="tns:MathServiceEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createGetSolutionQuadraticEducation">
            <soap:operation soapAction=""/>
            <wsdl:input name="createGetSolutionQuadraticEducationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap:operation soapAction=""/>
            <wsdl:output name="createResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MathWebService">
        <wsdl:port binding="tns:MathServiceEndpointSoap11" name="MathServiceEndpointSoap11">
            <soap:address location="http://localhost:8080/services/MathServiceEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>