src/main/resources/MathService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:ns="http://math.ws.divanov" targetNamespace="http://math.ws.divanov">
    <wsdl:types>
        <xs:schema targetNamespace="http://math.ws.divanov" attributeFormDefault="qualified">
            <xs:element name="create">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" minOccurs="0" type="ns:CreateGetSolutionQuadraticEducation">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="CreateGetSolutionQuadraticEducation">
                <xs:sequence>
                    <xs:element name="educationParams" minOccurs="0" type="ns:EducationParams"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EducationParams">
                <xs:sequence>
                    <xs:element name="a" type="xs:double" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="b" type="xs:double" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="c" type="xs:double" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="createResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" minOccurs="0" type="ns:CreateSolutionResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="CreateSolutionResponse">
                <xs:sequence>
                    <xs:element name="solutionActionResult" minOccurs="0" type="ns:SolutionActionResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SolutionActionResult">
                <xs:sequence>
                    <xs:element name="Formula" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="D" minOccurs="1" maxOccurs="1" type="xs:double"/>
                    <xs:element name="X1" minOccurs="1" maxOccurs="1" type="xs:double"/>
                    <xs:element name="X2" minOccurs="0" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <!-- Сообщения процедуры create -->
    <wsdl:message name="sendRequest">
        <wsdl:part name="Request" element="ns:create"/>
    </wsdl:message>
    <wsdl:message name="sendResponse">
        <wsdl:part name="Response" element="ns:createResponse"/>
    </wsdl:message>
    <!-- Привязка процедуры к сообщениям -->
    <wsdl:portType name="MathServicePortType">
        <wsdl:operation name="createRequest">
            <wsdl:input message="ns:sendRequest"/>
            <wsdl:output message="ns:sendResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- Формат процедур ws-->
    <wsdl:binding name="MathServiceBinding" type="ns:MathServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createRequest">
            <soap:operation soapAction="http://math.ws.divanov/createRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <!-- Определение сервиса -->
    <wsdl:service name="MathService">
        <wsdl:port name="MathServicePort" binding="ns:MathServiceBinding">
            <soap:address location="http://localhost:8080/services/MathService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>