RESTClient/src/main/resources/test.wsdl

<wsdl:definitions targetNamespace="urn:fault.sample"
                  xmlns:tns="urn:fault.sample" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>

        <xsd:schema targetNamespace="urn:fault.sample"
                    xmlns:tns="urn:fault.sample" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:element name="op" type="tns:Op"/>

            <xsd:complexType name="Op">
                <xsd:sequence>
                    <xsd:element name="in" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="opResponse" type="tns:OpResponse"/>

            <xsd:complexType name="OpResponse">
                <xsd:sequence>
                    <xsd:element name="out" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="faultElement" type="tns:Fault"/>

            <xsd:complexType name="Fault">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="opRequest">
        <wsdl:part name="parameters" element="tns:op"/>
    </wsdl:message>

    <wsdl:message name="opResponse">
        <wsdl:part name="parameters" element="tns:opResponse"/>
    </wsdl:message>

    <wsdl:message name="faultMsg">
        <wsdl:part name="parameters" element="tns:faultElement"/>
    </wsdl:message>

    <wsdl:portType name="PT">
        <wsdl:operation name="op">
            <wsdl:input message="tns:opRequest"/>
            <wsdl:output message="tns:opResponse"/>
            <wsdl:fault name="fault" message="tns:faultMsg"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Binding" type="tns:PT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="op">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Service">
        <wsdl:port name="Port" binding="tns:Binding">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>